{% load static %}
<html>
	<head>
        <title>403. Proibido</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="Eventex - O maior encontro hacker do mundo!">
        <meta name="author" content="wttd">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <!-- Favicon -->
        <link rel="shortcut icon" href="{%static 'img/favicon.ico' %}">

        <!-- CSS -->
        <link rel="stylesheet" href="{%static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{%static 'css/basalstyle/style.min.css' %}">
        <link rel="stylesheet" href="{%static 'css/main.css' %}">

        <link href='http://fonts.googleapis.com/css?family=Economica:400,700' rel='stylesheet' type='text/css'>

	</head>

	<body>
        <div class="header-frame row">
            <header class="header header-inline min-h-3 row desktop-12 container" role="banner">

                <div class="site-logo">
                    <h1><a href="/" rel="home">Eventex</h1>
                    <p class="site-description screen-reader-only">O maior encontro hacker do mundo!</p>
                </div>

                <nav class="nav-inline" role="navigation">
                    <a href="javascript:void(0);" class="nav-mobile"><i class="fa fa-bars"></i></a>
                    <ul>
                        <li><a data-scroll href="/#overview">Conferência</a></li>
                        <li><a data-scroll href="/#sponsors">Patrocinadores</a></li>
                        <li><a data-scroll href="/#register">Inscrição</a></li>
                        <li><a data-scroll href="/#venue">Local</a></li>
                    </ul>
                </nav>

            </header>
        </div>


        <!-- OVERVIEW -->
        <section>
        	<div class="content row padding-bottom-3 desktop-12 container">

            	<h1>403</h1>
                <h2>Proibido</h2>
                <div class="desktop-6">
                    <p>Você não tem permissão para acessar este endereço.</p>
                </div>
            </div>
        </section>

    </body>
</html>
